.mainfooter{
    height: 210px;
    width: 100%vph;
    color: white;
    background-color: rgb(64, 221, 64);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
    font-size:25px;
    font-weight:bold;
}
.icon-div{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}